body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.pokemon-card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pkm-card {
    height: 300px;
    width: 250px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    img {
        width: 150px;
    }
}

.pkm-card-nameid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    margin-bottom: 40px;
}

.pkm-types-name {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
